# dependencies
node_modules

# build artifacts
build
dist

# git & Docker
.git
.gitignore
Dockerfile
.dockerignore

# local env files
.env
.env.*

# system
.DS_Store

# editor
.vscode/
.idea/

# logs
*.log