TENANT_ID="de9231de-45f4-4325-ae07-8ae72052517e"
ACR_NAME="resolutescr"
RESOURCE_GROUP="techlab-resolutes"
ENV_NAME="techlab-resolutes-env"
IMAGE_NAME="ecommerce-site:latest"
CONTAINER_NAME="resolutes-ecommerce"
TARGET_PORT=3000
REGISTRY_USERNAME="resolutescr"
REGISTRY_PASSWORD="04O9qq1wHeNJ7BC1Se2H9mlWoeCgQ6p8KEf5lwHwF++ACRARJ5Jz"
CPU="0.5"
MEMORY="1.0Gi"
REACT_APP_PAYPAL_CLIENT_ID=AUOZk8P_nDqBYoT0JmyvwX0Z8fCS-iUbHJk-vVKsuC7S3oEIGHRI8E-N5o_vqtC5UxOf-0JoM2hm7d9d
REACT_APP_API_GATEWAY_URL="